.scroll-container {
    max-height: 700px;
    overflow: auto;
}

#loading {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
}

.dropdown-item {
    width: 100%;
    display: block;
    text-align: left;
    background-color: white;
}

.dropdown-item:hover {
    background-color: #e6eaec;
}

.dropdown-subitem-nlc,
.dropdown-subitem {
    display: table-cell;
    height: 30px;
    vertical-align: middle;
}

.dropdown-subitem-nlc {
    width: 80px;
}
.dropdown-subitem {
    width: 160px;
}

.dropdown-subitem-label {
    font-weight: bold;
}

.cancel {
    float: right;
}

#search {
    width: 250px;
    display: inline;
}